/* You can add global styles to this file, and also import other style files */

@import 'ag-grid-community/styles/ag-grid.css'; 
@import 'ag-grid-community/styles/ag-theme-alpine.css'; 
.clear-10{
    padding-top: 10px;
}

.clear-15{
    padding-top: 15px;
}

.clear-20{
    padding-top: 20px;
}